/* Общие стили --------------------------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
	text-decoration: none;
	color: white;
}

body {
	background-color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 21px;
	color: white;
}

.text {
	font-family: 'Poppins', system-ui;
	font-weight: 200;
	font-style: normal;
	line-height: 130%;
}

.title {
	font-size: 48px;
}

.button {
	font-size: 17px;
	padding: 10px 16px;
	background: transparent;
	border: 2px solid #6d95fc;
	border-radius: 2px;
	cursor: pointer;
	max-width: 400px;
}

.blue {
	color: #6d95fc;
}

.white {
	color: white;
}

.bold {
	font-weight: 700;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid;
	margin: 1em 0;
	padding: 0;
	max-width: 97.5px;
}

.hr__white {
	border-top: 3px solid white;
}

.hr__blue {
	border-top: 3px solid #6d95fc;
}



@media (width < 1280px) {
	.about__inner, .banner__inner, .nav__inner, .reviews__inner, .contact-us__inner, .why-us__inner, .services__inner, .projects__inner, .footer__inner {

		margin-inline: 20px !important; 
	}
}

/* Header --------------------------------------------------------------------------------------- */

.nav__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.nav__links {
	display: flex;
	gap: 53px;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
}

.logo-title {
	font-size: 50px;
	text-align: center;
}

.logo-subtitle {
	text-align: center;
	font-size: 14px;
}

.nav__icon {
	vertical-align: middle;
}

.nav__menu {
	display: none;

}


.nav__logo {
	margin-right: 65px;
}

@media (width <= 1215px) {

	.nav__menu {
		display: block;
	}

}


@media (width <= 500px) {
	.nav__logo-title {
		font-size: 40px;
	}


		.nav__links {
		gap: 16px;
}
}




/* Banner --------------------------------------------------------------------------------------- */

.banner {
	position: relative;
}

.banner__inner {
	margin: 184px 0;
	max-width: 524px;
}

.suptitle {
	font-size: 21px;
}

.banner__suptitle {
	margin-bottom: 41px;
}

.banner__title {
	font-size: 50px;
	line-height: 111.5%;
	margin-bottom: 41px;
}

.hr__banner {
	margin-bottom: 41px;
	max-width: 144px;
}

.banner__text {
	margin-bottom: 41px;
}

.banner__img {
	position: absolute;
	left: 350px;

	z-index: -1;
}

@media (width <= 480px) {
	 

	.text {
		font-size: 17px;
	}

	.title {
		font-size: 28px !important;
		margin-bottom: 10px !important;
	}

	.banner__title {
		font-size: 30px;
		max-width: 75vw;
	}
	
	.suptitle {
		font-size: 17px;
		margin-bottom: 10px !important;
	}

	.hr {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}



}


/* About --------------------------------------------------------------------------------------- */

.about__inner {
	display: flex;
	align-items: center;	
	gap: 110px;
}

.about__suptitle {
	margin-bottom: 26px;
}

.about__description > * {
	margin-bottom: 26px;
}

.about__description > *:last-child {
	margin-bottom: 0;
}

.about__img {
	display: flex;
	justify-content: center;
}

.about__button {
	padding: 10px 30px;
}

.about__title {
	max-width: 450px;
}

@media (width <= 1005px) {
	.about__inner  {
		flex-direction: column-reverse;
		gap: 0px;
	}

	.services__inner {
		flex-direction: column;
	}

	.about__img img {
		width: 75%;
	}

@media (width <= 480px) {
	.about__description > * {
		margin-bottom: 20px;
	}

	.about__description > *:last-child {
		margin-top: 25px;
	}

	.about__title {
		max-width: 300px;
	}
	
}




	
}


/* Services -------------------------------------------------------------------------------------- */

.services__inner {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 134px;
	margin-bottom: 145px;
}

.services__description {
	max-width: 500px;
}

.services__description > * {
	margin-bottom: 32px;
}

.services__description > *:last-child {
	margin-bottom: 81px;
}

.services__suptitle {
	margin-top: 80px;
}

.services__cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.card {
	max-width: 280px;
	text-align: center;
}

.card__text {
	font-size: 17px;
	max-width: 226px;
	line-height: 122%;
	font-weight: 200;
}

.card__img img {
	height: 85px;
}

.card__img {
	margin-bottom: 20px;
}

.card__inner {
	margin: 30px;
}

.card__title {
	margin-bottom: 6px;
}

@media (width < 480px) {
	.services__cards {
		grid-template-columns: 1fr;
	}

	.services__title {
		max-width: 300px;
	}
}

@media (width < 600px) {
	.services__inner {
		margin-top: 35px;
	}
}



/* Statistics ------------------------------------------------------------------------------------ */

.statistics__elements {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.statistics__element {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.statistics__number {
	font-size: 64px;
}

.statistics__inner {
	margin: 0px auto 65px auto;
}

@media (width < 1000px) {
	.statistics__elements {
	grid-template-columns: repeat(2, 1fr);
	gap: 40px 80px;
	max-width: 500px;
	}

 .statistics__inner {
	display: flex;
	justify-content: center;

 }

}



@media (width < 530px) { 
	.statistics__elements {
		grid-template-columns: 1fr;
		gap: 60px;
	}
}


/* Projects ------------------------------------------------------------------------------------- */


.projects__subtitle {
	display: flex;
	align-items: center;
	gap: 14.5px;
	justify-content: center;
	margin-bottom: 49px;
}

.projects__title {
	margin: 110px auto 25px auto;
	max-width: 688px;
	text-align: center;
}

.hr__projects {
	width: 100%;
	max-width: 97.5px;
}

.swiper-slide img {
	max-height: 520px;
	height: auto;
}

.swiper-slide {
	display: flex !important;
	justify-content: center;
	align-items: center;
	transition: all 200ms linear;
	transform: scale(0.8) !important;

	&.swiper-slide-active {
		transform: scale(1) !important;
	}
}

.projects__slider {
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
}

.swiper-slide-active {
	z-index: 1;
}

.swiper-pagination-bullet {
	border-radius: 0px !important;
	background-color: white !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active {
	background-color: #6d95fc !important;
}

.swiper-wrapper {
	margin-bottom: 49px;
}

@media (width <= 1280px) {
.swiper-slide img {
		height: 42vw;

	}
}

@media (width <= 750px) {
	.swiper-slide img {
		max-height: 46vh;
		height: 100%;
}	
}

@media (width <= 480px) {
	.projects__subtitle {
		margin-bottom: 20px;
	}

	.projects__title {
		max-width: 280px;
	}
}

/* Why Us --------------------------------------------------------------------------------------- */

.why-us__inner {
	margin-top: 111px;
	margin-bottom: 253px;
	margin-left: auto;
	margin-right: auto;
}

.hr__why-us {
	max-width: 110px;
}

.why-us__below {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
}



.why-us__button-wrapper {
	display: flex;
	align-items: flex-end;
}

.why-us__title {
	font-size: 48px;
	line-height: 109%;
}

.why-us__wrapper {
	margin: 0 auto;
}

.why-us__text {
	max-width: 584px;
}

.why-us__text,
.why-us__advnatage div {
	line-height: 166%;
}

.why-us__advnatages {
	list-style: none;
}

.why-us__advnatages img {
	display: block;
}

.why-us__advnatage {
	display: flex;
	align-items: center;
	gap: 11px;
}

@media (width <= 1000px) {
	.why-us__below {
		grid-template-columns: 1fr;

		
	}

}

@media (width < 750px) {
	.why-us__inner {	
		margin-bottom: 150px;
	}

}

@media (width <= 480px) {
	.why-us__below {
		gap: 13px;
	}

	.why-us__button-wrapper {
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.why-us__inner {
		margin-bottom: 50px;
	}

	.why-us__title {
		margin-bottom: -6px !important;
	}
}


/* Reviews --------------------------------------------------------------------------------------- */

.reviews {
	display: flex;
	max-width: 2200px;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	flex-shrink: 0;
	overflow: hidden;
}

.reviews > * {
	flex-shrink: 0;
}

.reviews__inner {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 71px;
	padding-bottom: 193px;
}

.reviews__title {
	max-width: 400px;
	text-align: center;
	line-height: 109%;
}

.hr__reviews {
	max-width: 218px;
	width: 100%;
}

.reviews__subtitle {
	margin-bottom: 25px;
	font-weight: 100;
	letter-spacing: 8%;
}

.quote {
	padding: 36px 62px;
	border: 1px solid transparent;
	border-radius: 38px;
	background-color: rgb(7, 26, 43);
}

.reviews__quote {
	margin: 0 96px;
	margin-bottom: 33px;
}

.quote__author {
	display: flex;
	align-items: center;
}

.quote__user-img {
	margin-right: 17px;
}

.quote__user-data {
	margin-right: 50px;
}

.quote__user-mail {
	margin-top: 10px;
	font-style: italic;
}

.quote__text {
	line-height: 166%;
	margin-bottom: 40px;
}

.quote__text,
.quote__author {
	max-width: 424px;
}

.reviews__button {
	padding: 15px 30px;
}



@media (width <= 750px) {
		.reviews__inner {
		padding-top: 170px;
	}


}

@media (width <= 600px) {
	.quote__text, .quote__author {
		max-width: 300px;
	}
	
	.quote__user-img img {
		max-width: 60px;
	}

	.reviews__quote {
		margin: 0 ;
	}

	.reviews__inner {
		padding-top: 120px;
		padding-bottom: 170px;
	}

	
	.quote__text {
		font-size: 16px;
	}

	.quote__double-quotes-icon img {
		max-height: 25px;
	}

	.quote__user-name {
		font-size: 15px;
	}

	.quote__user-mail {
		font-size: 13px;
	}

	.reviews__button {
		margin-top: 25px;
	}



}

@media (width <= 480px) {
	.reviews__quote {
		padding: 25px;
	}

	.quote__double-quotes-icon img {
		max-height: 22px;
	}

	.quote__text {
		margin-bottom: 20px;
	}

	.reviews__title {
		max-width: 350px;
		margin-bottom: 0 !important;
		font-size: 40px !important;
	}

	.hr__reviews {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}


	.reviews__button {
		margin-top: 75px;
	}

	.reviews__subtitle {
		margin-bottom: 50px;
	}
	 
}


/* Contact us ----------------------------------------------------------------------------------- */

.contact-us__inner {
	margin-top: 134px;
	display: flex;
	align-items: center;
	gap: 90px;
	justify-content: space-evenly;
}

.contact-us__text {
	max-width: 510px;
	line-height: 166%;
	margin-bottom: 35px;
}

.contact-us__data-element {
	display: flex;
	align-items: center;
}

.contact-us__data-description {
	font-size: 16px;
	line-height: 166%;
}

.contact-us__data-text {
	margin-left: 20px;
}

.contact-us__data {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.contact-us__form {
	background-color: #12192B;
	padding: 50px 57px;
	border-radius: 34px;
	
}

.contact-us__form > form {
	display: flex;
	flex-direction: column;
}

.form__label {
	font-size: 17px;
	margin-bottom: 20px;
}

.contact-us__form > form > input {
	height: 50px;
	width: 426px;
	margin-bottom: 23px;
	background-color: transparent;
	border: 1px solid white;
	padding-inline: 10px;
 }

 .form__message {
	height: 176px !important;
 }

 .button-blue {
	background-color: #6d95fc;
	color: #12192B;
 }

 .form__button {
	max-width: 186px;
	margin-left: auto;
	margin-right: auto
 }

 @media (width < 1008px) {
	.contact-us__inner {
		flex-direction: column;
	}
 }

 @media (width < 750px) {
	.contact-us__inner {
		margin-top: 50px;
	}
 }

 @media(width < 570px) {
		.contact-us__form > form > input {
			width: 100%;
		}

		.contact-us__form {
			padding: 45px 25px;
			width: 99%;
		}
 }


 /* Footer --------------------------------------------------------------------------------------- */


 .footer__inner {
	margin-top: 134px;
	display: flex;
	flex-direction: column;
	align-items: center;
 }

 .footer__inner > * {
	text-align: center;
 }


 .footer__navbar-links {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 22px;
	margin-bottom: 19px;
	flex-wrap: wrap;
}



.hr__footer {
	margin:19px auto;
	width: 101px;
}

.footer__text {
	max-width: 717px;
	margin-bottom: 30px;
}

.footer__media {
	display: flex;
	gap: 26px;
	flex-wrap: wrap;

}


.footer__copyright {
	margin-top: 185px;
	margin-bottom: 73px;
	font-weight: 100;
	font-size: 14px;
}



@media screen and (width < 750px) {
	.reviews__background-image img {
		display: none !important;
	}
}
